<!DOCTYPE html>
<html>
<head>
    ##  此处是应用禁止缓存
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <meta charset="utf-8"/>
    <title> mykits page</title>
    <meta name="description" content="我的工具套装">
    <meta name="Keywords" content="mykits 工具 套装">
    <link rel="stylesheet" href="/css/common.css?v=$!{cssversion}"/>
    <link rel="stylesheet" href="/css/main.css?v=$!{cssversion}"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js?v=$!{jsversion}"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js?v=$!{jsversion}"></script>
    <script type="text/javascript" src="/js/jquery.placeholder.js?v=$!{jsversion}"></script>
    <script type="text/javascript" src="/js/common.js?v=$!{jsversion}"></script>
    <script type="text/javascript" src="/js/html5.js?v=$!{jsversion}"></script>

    <script type="text/javascript" charset="utf-8">
        window.pageConfig = {};
    </script>

</head>
<body>
<!-- head begin -->
    #include("/layout/default/head.vm")
<!-- head end -->

<!-- nav begin -->
    #parse("/layout/default/nav.vm")
<!-- nav end -->

<!-- content begin -->
    $screen_content
<!-- content begin -->

<!-- footer begin -->
    #parse("/layout/default/footer.vm")
<!-- footer begin -->
</body>

</html>
